body {
  background-color: #d2a5d4;
  font-family: "Georgia";
  font-size: 31px;
  text-align: center;
}
.book-lilac {
  height: 300px;
  width: auto;
}
.author-pic {
  height: 200px;
  width: auto;
  border-radius: 100%;
}
.lilac {
  height: 300px;
  width: auto;
}
